venvleaf/
*.zip
*.csv
*.log
leaf_output/
bin/
trace_driven_simulator/data
speed_up_eval/data
.vscode
output.txt

leaf-sync/*.pyc
leaf-sync/.DS_Store
leaf-sync/.idea
leaf-sync/build/
leaf-sync/data/*/data
leaf-sync/models/__pycache__/
leaf-sync/models/*/__pycache__/
leaf-sync/models/*/preprocess/__pycache__/
leaf-sync/utils/__pycache__/
leaf-sync/models/checkpoints/
leaf-sync/models/sent140/embs.json
leaf-sync/_build/
leaf-sync/_templates/
leaf-sync/autodoc/
leaf-sync/baseline/

# Permitir CSVs dentro de results/
# Mas permite CSV dentro de leaf-sync/results/
!leaf-sync/results/**/*.csv